<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Library</title>
    <link rel="stylesheet" href="/css/work.css">
    <script defer src="/js/work.js"></script>
    <link rel="manifest" href="/manifest.json">
</head>


<body>
    
    <header>
        <div class="logo">
            <img src="/imega/doworkoutnow mix.svg" alt="Logo Image">
        </div>
        <div class="menu-icon" id="menu-icon">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
        <nav id="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/homeworkout/work">Home Workout</a></li>
                <li><a href="/ai-fitness-app/gptaifitness">AI Fitness App</a></li>
                <li><a href="/menu-builder">menu builder</a></li>
                <li><a href="/moreinformation1">About</a></li>
                <li><a href="#bmr">BMR</a></li>
                <% if (user) { %>
                    <li><a href="/profile" id="settings-button">Profile</a></li>
                <% } %>
                <% if (!user) { %>
                    <li class="auth-buttons">
                        <a href="/auth/login" class="btn btn-login">Login</a>
                        <a href="/auth/register" class="btn btn-register">Register</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </header>
    
    <div class="carousel-container">
        <div class="carousel">
            <a href="/homeworkout/work" class="category-circle">
                <img src="/imega/mix.svg" alt="Core">
                <span>Core</span>
            </a>
            <a href="/burncalories" class="category-circle">
                <img src="/imega/MASS.svg" alt="Chest">
                <span>Chest</span>
            </a>
            <a href="back.html" class="category-circle">
                <img src="/imega/Aerobic.svg" alt="Back">
                <span>Back</span>
            </a>
            <a href="shoulders.html" class="category-circle">
                <img src="/imega/Flexibility and Mobility Training.svg" alt="Shoulders">
                <span>Shoulders</span>
            </a>
           
           
        </div>
    </div>

    <div class="rectangle-section">
        <div class="rectangle-link" style="background-image: url('/gypplanimg/AB.A.MASS.svg');">
            <a href="/homeworkout/test2.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/AB.B.MASS.svg');">
            <a href="/homeworkout/homework.MASS.AB.B/homewotk.MASS.AB.B.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/ABC.MASS.A.svg');">
            <a href="/homeworkout/homework.MASS.ABC.A/homework.MASS.ABC.A.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/ABC.MASS.B.svg');">
            <a href="/homeworkout/homework.MASS.ABC.B/homework.MASS.ABC.B.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/ABC.MASS.C.svg');">
            <a href="/homeworkout/homework.MASS.ABC.C/homework.MASS.ABC.C.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/MASS.WOMEN.AB.A.LEVEL1.svg');">
            <a href="/homeworkout/homework.women.MASS.AB.A.lv1/homework.women.MASS.AB.A.lv1.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/MASS.WOMEN.AB.B.LEVEL1.svg');">
            <a href="/homeworkout/homework.women.MASS.AB.B.lv1/homework.women.MASS.AB.B.lv1.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/MASS.WOMEN.AB.A.LEVEL2.svg');">
            <a href="/homeworkout/homework.women.MASS.AB.A.lv2/homework.women.MASS.AB.A.lv2.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/MASS.WOMEN.AB.B.LEVEL2.svg');">
            <a href="/homeworkout/homework.women.MASS.AB.B.lv2/homework.women.MASS.AB.B.lv2.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/MASS.WOMEN.AB.A.LEVEL3.svg');">
            <a href="/homeworkout/homework.women.MASS.AB.A.lv3/homework.women.MASS.AB.A.lv3.html"></a>
            <span></span>
        </div>
        <div class="rectangle-link" style="background-image: url('/gypplanimg/MASS.WOMEN.AB.B.LEVEL3.svg');">
            <a href="/homeworkout/homework.women.MASS.AB.B.lv3/homework.women.MASS.AB.B.lv3.html"></a>
            <span></span>
        </div>
      
        <div class="rectangle-link" style="background-image: url('/gypplanimg/homework.Burn.200.calories.svg');">
            <a href="/homeworkout/homework.Burn.200.calories/homework.Burn.200.calories.html"></a>
            <span></span>
        </div>

        <div class="rectangle-link" style="background-image: url('/gypplanimg/homework.Burn.300.calories.svg');">
            <a href="/homeworkout/homework.Burn.300.calories/homework.Burn.300.calories.html"></a>
            <span></span>
        </div>

    </div>
 




    <div class="footer-copyright">
        <button class="copyright-button">
          &copy; 2024 DoWorkoutNow. All Rights Reserved.
        </button>
      </div>

<script src="works.js" defer></script>
</body>
</html>
